.commentcontainer{
  position: relative;
  width:calc(100% - 2em);
  margin:1em;
  margin-left:0;
}

.commenticon{
  float:left;
  width:3em;
  height:3em;
  margin-right:0.5em;
  background-color: lightslategray;
  border-radius: 0.5em;
}

.commentinfo{
  white-space: nowrap;
}
.commentdate{
  word-spacing: 0.25em;
  margin-left:0.25em;
}
.commenttime{
  word-spacing: 0.25em;
}
.commentcontent{
  line-height: 1.5;
  word-spacing: 0.15em;
  margin-top:0.4em;
  margin-left:4em;
}

.commentfield{
  display:flex;
  float:left;
  width:calc(90% - 150px);
}

.commentsubmit{
  float:left;
  width:150px;
}