.inputField, .selectField{
  width: 100%;
  padding: 10px;
  border:none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #aaa;
}
.inputField[type=button],.inputField[type=submit] {
  color:white;
  background-color: #409443;
}
.inputField[type=checkbox]{
  width:40px;
}
.inputField[type=button]:hover,.inputField[type=submit]:hover {
  background-color: #4caf50;
  cursor: pointer;
}
.inputField[type=button]:active,.inputField[type=submit]:active {
  background-color: #cef0cf;
}
.inputField[type=text], .inputField[type=password] {
  display: inline-block;
  width:50%;
  margin-left:auto;
  border: 1px solid #ccc;
}
.selectField{
  display: inline-block;
}
.inputFieldLabel{
  padding:10px;
}
.inputFieldLabelUnlimited{
  width: 100%;
  padding:10px;
}
.inputContainer{
  display:flex;
  width: 100%;
  height: 40px;
  margin-top:7px;
  margin-bottom: 7px;
}
.formHeading{
  padding-left: 70px;
}
.hiddenInput{
  display:none;
}
.uploadpreviewContainer{
  position: relative;
  width:100%;
  height:300px;
  overflow:hidden;
  border-radius: 4px;
}
.uploadpreviewContent{
  position:relative;
  z-index:100;
  height:300px;
}
.uploadpreviewBackground{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  overflow:hidden;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.1);
  filter: brightness(50%) blur(5px);
}
.uploadpreviewImg{
  z-index: 500;
  opacity:1;
  position: relative;
  display:block;
  top:50%;
  max-width:100%;
  max-height: 100%;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0px 0px 10px black;
  transform: translateY(-50%);
}
.cancelbutton{
  width:75px;
  height:50px;
  position: absolute;
  z-index:101;
  top:10px;
  right:10px;
}
