.imgeditorbackground{
  z-index:1000;
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  color:white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

.imgeditorcontainer{
  position: relative;
  z-index:1001;
  width:95%;
  height:98%;
  margin:auto;
  margin-top:2%;
  background-color: white;
  border-radius:0.4em;
  overflow:hidden;
}

.imageeditorsectioncontent{
  width:95%;
  float:left;
  max-height: 95%;
  overflow-y: auto;
  margin-left:1em;
  margin-bottom:1em;
}
.imageeditorsection{
  width:100%;
  float:left;
  position:relative;
}

.sectionheader{
  position: relative;
  float:left;
  width:400px;
  height:2em;
}
.tighth3{
  padding:0;
  margin:0;
  margin-left:0.25em;
}
.sectiontoggler{
  position: absolute;
  top:0%;
  left:calc(99% - 2em);
  width:2em;
  height: 2em;
}

.imgeditorleftcontainer,.imgeditorrightcontainer{
  position: absolute;
  top:0.2em;
  width:98%;
  height: calc(50% - 0.4em);
  border-radius: 0.4em;
}

.imgeditorleftcontainer{
  left:1%;
  background-color: black;
  overflow:hidden;
}

.imgeditorrightcontainer{
  color:black;
  left:1%;
  top: calc(50% + 0.2em);
  overflow-x:hidden;
}
.imgviewercontainer{
  width:98%;
  height:98%;
}
.imgeditorimg{
  position: relative;
  left:50%;
  top:50%;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0px 0px 10px black;
  cursor: zoom-in;
}
.imgeditorimgzoomed{
  cursor: zoom-out;
}

.labelssection{
  float:left;
  width:100%;
  margin-bottom:1em;
}

.labelcontainer{
  position: relative;
  padding:0.25em;
  margin:0.1em;
  float:left;
  font-size: small;
  text-shadow: -2px -2px 4px #6b6968;
  color: white;
  text-align: center;
  min-width:2em;
  background-color: #998877;
  border-radius: 0.4em;
  height: 2em;
}

.labeltitle,.labelcloser{
  float:left;
  padding-left:1em;
}

.labeltitle{
  padding-top:0.2em;
  margin:auto;
  cursor: pointer;
  font-size: 1em;
  height:1.5em;
}

.labelcloser{
  padding-top:0.3em;
  padding-right:0.25em;
  width:1em;
  height:1em;
}
.labelinputcontainer{
  padding-left:0.5em;
  float:left;
}

@media only screen and (min-width: 500px){
  .imgeditorcontainer{
    position: relative;
    z-index:1001;
    width:80%;
    height:80%;
    margin:auto;
    margin-top:2%;
    background-color: white;
    border-radius:2em;
  }
  
  .imgeditorleftcontainer,.imgeditorrightcontainer{
    position: absolute;
    top: 2%;
    width: 49%;
    height: 96%;
  }
  
  .imgeditorleftcontainer{
    left:1%;
    background-color: black;
    border-radius: 2em;
  }
  .imgeditorrightcontainer{
    left:51%;
    border-radius: 0;
  }
}