.imgeditorbackground{
  z-index:1000;
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  color:white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

.imgeditorcontainer{
  position: relative;
  z-index:1001;
  width:95%;
  height:98%;
  margin:auto;
  margin-top:2%;
  background-color: white;
  border-radius:0.4em;
  overflow:auto;
}

.imgeditorleftcontainer,.imgeditorrightcontainer{
  position: absolute;
  top:0.2em;
  width:98%;
  height: calc(50% - 0.4em);
  border-radius: 0.4em;
}

.imgeditorleftcontainer{
  left:1%;
  background-color: black;
  overflow:hidden;
}

.imgeditorrightcontainer{
  color:black;
  left:1%;
  top: calc(50% + 0.2em);
}
.imgviewercontainer{
  width:98%;
  height:98%;
}
.imgeditorimg{
  position: relative;
  left:50%;
  top:50%;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0px 0px 10px black;
  cursor: zoom-in;
}
.imgeditorimgzoomed{
  cursor: zoom-out;
}
.labelssection{
  float:left;
  width:100%;
  margin-bottom:1em;
}

.labelcontainer{
  padding:0.25em;
  margin:0.1em;
  float:left;
  font-size: small;
  text-shadow: -2px -2px 4px #6b6968;
  color: white;
  text-align: center;
  min-width:2em;
  background-color: #998877;
  border-radius: 0.4em;
}

@media only screen and (min-width: 500px){
  .imgeditorcontainer{
    position: relative;
    z-index:1001;
    width:80%;
    height:80%;
    margin:auto;
    margin-top:2%;
    background-color: white;
    border-radius:2em;
  }
  
  .imgeditorleftcontainer,.imgeditorrightcontainer{
    position: absolute;
    top:1em;
    width:calc(50% - 2em);
    height: 96%;
    border-radius: 2em;
  }
  
  .imgeditorleftcontainer{
    left:1em;
    background-color: black;
  }
  .imgeditorrightcontainer{
    left:calc(50% + 1em);
  }
}